/* @import url('normalize.css'); */
/* @import url('demo.css'); */

:root {
  --grd: #5c4306;
  --gr: #b8860b;
  --lgr: #daa520;
}

p.just {
  text-align: justify;
}

p.left {
  text-align: left;
}

img.firmlogo {
  width: 55%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-anchor: none;
}

.activity {
  overflow-anchor: none;
}

.opensource {
  overflow-anchor: none;
}

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 13px;
    background: #9b5c2d url(/assets/background.jpg);
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 300;
    overflow-anchor: none;
}

.skillcolumn {
  float: left;
  width: 33.33%;
}

.skillrow:after {
  content: "";
  display: table;
  clear: both;
}

.skill {
  margin-bottom: 3mm;
}

.container {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.blockquote:before {
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.6em;
  margin-top: 0.0em;
  color: var(--gr);
  /* font-size: 48pt;
  position: relative;
  left: -14pt;
  top: 20pt;
  color: #daa520;
  /*color: #c0c0c0; rgba(0,0,0,0.1)*/;
}

blockquote.blockquote {
  font-size:10pt;
  text-align: justify;
  text-justify: inter-word;
  line-height: 10pt;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 70%;
}

@font-face {
  font-family: 'entypo-selected';
  src: url("font/entypo-selected.eot");
  src: 
	url("font/entypo-selected.eot?#iefix") format('embedded-opentype'), 
	url("font/entypo-selected.woff") format('woff'), 
	url("font/entypo-selected.ttf") format('truetype'), 
	url("font/entypo-selected.svg#entypo-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.container {
}

.cv-leaflet {
	width: 33%;
	height: 700px;
	max-width: 370px;
	margin: 0 auto 40px auto;
	position: relative;
	-webkit-perspective: 1600px;
	perspective: 1600px;
	color: #2a323f;
}
.cv-page {
  background: #fbfbfb url(/assets/paper.jpg);
  background-origin: border-box;
}

.cv-page > div > div dt.activity,
.cv-page > div > div dt.opensource {
  text-align: left;
  margin-left: 20%;
}


.cv-page > div > div dt {
}

.cv-page,
.cv-page > div {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	text-align: center;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cv-page .cv-cover {
	z-index: 100;
	-webkit-transform-origin: 0% 50%;
	-webkit-transition-delay: 0.2s;
	transform-origin: 0% 50%;
	transition-delay: 0.2s;
}

.cv-page .cv-middle {
	z-index: 50;
	box-shadow: 0 4px 10px rgba(0,0,0,0.7);
}

.cv-page .cv-right {
	z-index: 60;
	-webkit-transform-origin: 100% 50%;
	-webkit-transition-delay: 0s;
	transform-origin: 100% 50%;
	transition-delay: 0s;
}

.cv-page .cv-middle,
.cv-page .cv-right {
	pointer-events: none;
}

.cv-page > div > div {
	background: #fbfbfb url(/assets/paper.jpg);
  background-origin: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 15px;
/*	box-shadow: 
		inset 0 0 0 16px #fff, 
		inset 0 0 0 17px #e6b741, 
		inset 0 0 0 18px #fff, 
		inset 0 0 0 19px #e6b741, 
		inset 0 0 0 20px #fff, 
		inset 0 0 0 21px #e6b741;
*/
}

.cv-leaflet .cv-front,
.cv-leaflet .cv-back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cv-leaflet .cv-back {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.cv-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);
}

.cv-middle .cv-overlay {
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 64%, rgba(0,0,0,0.05) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(64%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 64%,rgba(0,0,0,0.05) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 64%,rgba(0,0,0,0.05) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 64%,rgba(0,0,0,0.05) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 64%,rgba(0,0,0,0.05) 100%);
}

.cv-content {
	padding: 10px;
  /* box-shadow: 0 0 3px #000;*/
  border: 1.5px solid #2a323f;
  /* opacity: 85%;*/
  width: 100%;
  height: 100%;
}

.cv-cover, .cv-right {
  cursor: grab;
}

/*.cv-open .cv-cover {
  cursor: default;
}*/

.buz {
  display: hidden;
}

.biz {
  display: hidden;
}

.buzicon {
  height: 100%;
  top: 50%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
}

/* img.biz {
  width: 50%;
  left: 25%;
} */

.cv-logo, 
.cv-content h2,
.cv-content h4,
a.cv-button-open,
.cv-modal h5 {
	font-weight: 200;
	font-family: 'Arvo', Arial, sans-serif;
}

.cv-logo {
	width: 100px;
	height: 100px;
	background: url(../images/invert-logo.png) no-repeat center center;
  opacity: 85%;
	/* border-radius: 50%; */
	margin: 20px auto;
/* 	box-shadow: 
		0 0 0 3px #fff, 
		0 0 0 4px #e6b741, 
		0 0 0 5px #fff, 
		0 0 0 6px #e6b741, 
		0 0 0 7px #fff, 
		0 0 0 8px #e6b741; */
}

.cv-content h2 {
	/*letter-spacing: 2px; */
	font-size: 24px;
  opacity: 85%;
	/* text-shadow: 1px 1px 0 #ffffff, 3px 3px 0 #c9f0dd;*/
}

.cv-content h3 {
	font-size: 13px;
	margin: 40px 0;
	padding: 20px 40px;
	color: #323b4c;
	font-weight: 500;
	border-top: 4px double #323b4c;
	text-transform: uppercase;
	line-height: 20px;
  opacity: 85%;
	/* text-shadow: 1px 1px 0 rgba(255,255,255,0.8); */
}

.cv-content h4 {
	margin: 10px 0 20px 0;
	font-size: 16px;
	padding-bottom: 10px;
	color: #323b4c;
	border-bottom: 4px double #323b4c;
	/* text-shadow: 1px 1px 0 #fff, 2px 2px 0 #E6B741; */
	letter-spacing: 2px;
}

.cv-content h4:not(:first-child) {
	margin-top: 35px;
}

/*
a.cv-button-open {
	color: #323b4c;	
	font-size: 16px;
	line-height: 45px;
	margin: 10px auto;
	display: block;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

a.cv-button-open:hover {
	color: #e6b741;
}*/

.cv-info p {
	line-height: 20px;
}

.cv-content dl{
	margin: 0;
}

.cv-in {
  filter: blur(1px);
}

.cv-in #businesscard {
  filter: initial;
}

.businesscardcontent {
  text-align: right;
}

.cv-content dl dt,
.cv-content dl dd{
	display: block;
	margin: 0;
}

.cv-content dl dt,
.cv-content dt dt a.extlink.extlink {
	font-weight: bold;
  color: #000000;
	/* text-transform: uppercase;*/
}

.cv-content dl dd {
	font-size: 13px;
	padding: 4px 5px 15px;
	line-height: 15px;
	color: #333;
  text-align: left;
}

.cv-content dt:hover,
.cv-content dl dt:hover a,
dt:hover + dd a,
dt:hover + dd .tags,
dt:hover + dd .duration,
dt:hover + dd .grade,
dt:hover + dd .firm,
dt:hover + dd .univ,
dt:hover + dd .location,
dt:hover + dd .skillrow .skillcell a,
dt:hover + dd .skillrow .skillcell {
  color: var(--grd);
}

dt:hover {
  color: var(--grd);
}

dt:hover + dd {
  color: var(--grd);
}

/* p:hover {
  color: var(--grd);
} */

p a:hover {
  color: var(--grd);
}

dt:hover + dd .skillwrap {
  /*border: 1px solid #000 !important*/;
  width: 60px;
  background-color: #c0c0c0;
}

dt:hover + dd a {
  color: var(--gr);
}

*:target .skillwrap {
  background-color: #eee8aa;
}

*:target .skillwrap .skillitem {
  background-color: var(--gr);
}

.skillrow .skillcolumn *:target a {
  color: var(--gr);
}


dt:hover + dd .skillwrap {
  background-color: #eee8aa;
}

dt:hover + dd .skill .skillwrap .skillitem {
  background-color: var(--gr);
}


.cv-content dl dt a:hover {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}


.coffee.imgloading {
  position:absolute;
  bottom:50px;
  right:-200px;
  z-index: -20000;
}

.coffee {
  position:absolute;
  bottom:100px;
  right:-2px;
  z-index: -20000;
  transition: right 2s ease-out, bottom 2s ease-out;
}


.qrcode {
  /*bottom:20px;
  left:20px;
  top: 100%;
  margin-top: 25px;
  position: sticky; */
  text-align: center;
  vertical-align: bottom;
}

.page-prev.bounce:hover {
  position:fixed;
  -webkit-animation:bounce-left 1s infinite;
}

@-webkit-keyframes bounce-left {
  0%       { left:30px; }
  25%, 75% { left:40px; }
  50%      { left:45px; }
  100%     {left:25px;}
}

.page-next.bounce:hover {
  position: fixed;
  -webkit-animation:bounce-right 1s infinite;
}

@-webkit-keyframes bounce-right {
  0%       { right:30px; }
  25%, 75% { right:40px; }
  50%      { righ:45px; }
  100%     { right:25px;}
}


div.prev-next {
  position: relative;
  bottom: 25px;
  transition-timing-function: ease-in-out;
}

div.prev-next a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
}

div.page-next {
  right:25px;
  position: absolute;
}

div.page-prev {
  left:25px;
  position: absolute;
}



.cv-order p{
	padding: 10px;
	background: rgba(213, 193, 154, 0.2);
	margin: 20px 0 0;
}

a.cv-viewdetails:before{
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  content: '\f05a';
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}

.cv-modal {
	position: absolute;
	z-index: 10000;
	width: 36%;
  /*height: 50%; */
	/*margin-left: -10%; */
  left: 32%;
  right: 32%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
	top: 25%;
	padding: 20px;
  padding-color: #e6b641;
	background: #fff url(/assets/paper.jpg);
  background-origin: border-box;
  background-repeat: repeat;
	/*box-shadow: 
		inset 0 0 0 16px #fff, 
		inset 0 0 0 17px #e6b741, 
		inset 0 0 0 18px #fff, 
		inset 0 0 0 19px #e6b741, 
		inset 0 0 0 20px #fff, 
		inset 0 0 0 21px #e6b741,
		0 4px 20px rgba(0,0,0,0.4);*/
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateZ(1000px);
	transform: translateZ(1000px);
}

h5.subtext {
  font-size: 24px;
  margin-bottom: 5px;
}

.cv-modal h5 {
	margin: 0;
	font-size: 20px;
	/*text-shadow: 1px 1px 0 #fff, 2px 2px 0 #E6B741;*/
}

.cv-modal .cv-thumb {
	width: 100px;
	height: auto;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	margin: 0 20px 0 0;
	box-shadow: 
		inset 1px 1px 3px rgba(0,0,0,0.2), 
		1px 1px 1px rgba(255,255,255,0.9);
}

.cv-modal a:after,
.cv-button-open:after {
	content: '\2192';
	display: inline-block;
	margin-left: 3px;
	font-family: Arial, sans-serif;
}

a, a:hover, a:focus, a:active {
	color: #000000;
	/* font-weight: normal; */
  text-decoration: none;
  text-align: left;
}

a.cv-viewdetails,
.cv-modal a {
	color: #000000;
	font-weight: bold;
  text-decoration: none;
  text-align: left;
}

.firm:before {
  content: "\f1ad ";
  font-family: "Font Awesome 5 Free";
  /*color: #000;*/
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}

.firm {
  color: #000;
  font-style: italic;
}

.univ:before {
  content: "\f19c ";
  font-family: "Font Awesome 5 Free";
  /*color: #000;*/
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}

.univ {
  color: #000;
  font-style: italic;
}

.location {
  color: #666;
}

.location:before {
  content: "\f3c5  ";
  font-family: "Font Awesome 5 Free";
  /*color: #666;*/
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}

.birthday {
  color: #666;
}

.birthday:before {
  content: "\f1fd  ";
  font-family: "Font Awesome 5 Free";
  /*color: #666;*/
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}

.duration {
  color: #000;
}

.duration:before {
  content: "\f073  ";
  font-family: "Font Awesome 5 Free";
  /*color: #000;*/
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}

.tags {
  color: #666;
}

.tags:before {
  content: "\f02c  ";
  font-family: "Font Awesome 5 Free";
  /*color: #666;*/
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}

.grade {
  color: #666;
  font-style: italic;
}

.grade:before {
  content: "\f559  ";
  font-family: "Font Awesome 5 Free";
  /*color: #666;*/
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}

a.extlink:before {
  content: "\f35d   ";
  font-family: "Font Awesome 5 Free";
  color: #666;
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}



a.opensource:before {
  content: "\f126   ";
  font-family: "Font Awesome 5 Free";
  color: #666;
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}


a.extlinkr:after {
  content: "\f35d   ";
  font-family: "Font Awesome 5 Free";
  color: #666;
  display: inline-block;
  font-style: normal;
  font-size: 13px;
  font-weight: 900;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-left: 0.2cm;
  margin-right: 0.1cm;
}


ul.nobullet {
  list-style-type: none;
}

.skillwrap {
  /*border: 1px solid #000 !important*/;
  width: 60px;
  background-color: #c0c0c0;
  cursor: hand;
}

div.skill:hover a {
  color: var(--gr);
}

div.skill:hover .skillwrap {
  background-color: #eee8aa;
}


.skillitem {
  background-color: #666;
  height: 6px;
  cursor: hand;
}

div.skill:hover .skillwrap .skillitem {
  background-color: var(--gr);
}


.cv-modal a {
	float: right;
	clear: both;
}

a.cv-viewdetails:hover,
.cv-modal a:hover {
	color: #000;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.cv-close {
	background: #e6b741;
	text-transform: uppercase;
	display: block;
	position: absolute;
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	line-height: 15px;
	padding: 2px 5px;
	top: -19px;
	opacity: 0;
	right: 30px;
	cursor: pointer;
}

.cv-close-modal {
	cursor: pointer;
	right: 0px;
	top: 0px;
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	background: #2a323f;
	color: white;
	text-align: center;
	line-height: 14px;
	font-size: 15px;
	font-family: Arial, sans-serif;
}


/* Transitions */

.cv-page,
.cv-page > div {
	-webkit-transition: all 0.6s ease-in-out, height 0s;
	transition: all 0.6s ease-in-out, height 0s;
}

.cv-modal {
	-webkit-transition: 
		-webkit-transform 0.6s ease-in-out,
		opacity 0.6s ease-in-out;
	transition: 
		transform 0.6s ease-in-out,
		opacity 0.6s ease-in-out;
}

/* .cv-cover .cv-overlay {
  pointer-events: all;
}*/

.cv-close {
	-webkit-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}

.cv-leaflet.cv-open .cv-close {
	-webkit-transition: all 0.3s ease-in-out 0.8s;
	transition: all 0.3s ease-in-out 0.8s;
	opacity: 1;
}

.cv-leaflet.cv-open .cv-page > div {
	box-shadow: 0 4px 5px -3px rgba(0,0,0,0.6);
}

.cv-leaflet.cv-open .cv-cover {
	-webkit-transform: rotateY(-170deg);
	-webkit-transition-delay: 0s;
	transform: rotateY(-170deg);
	transition-delay: 0s;
}

.cv-leaflet.cv-open .cv-middle,
.cv-leaflet.cv-open .cv-right {
	pointer-events: auto;
}

.cv-leaflet.cv-open .cv-right {
	-webkit-transform: rotateY(170deg);
	-webkit-transition-delay: 0.2s;
	transform: rotateY(170deg);
	transition-delay: 0.2s;
}

.cv-leaflet.cv-open.cv-flip .cv-right {
	-webkit-transform: rotateY(0deg);
	-webkit-transition-delay: 0.2s;
	transform: rotateY(0deg);
	transition-delay: 0.2s;
}

.cv-leaflet.cv-in .cv-cover {
	-webkit-transform: rotateY(-170deg);
	transform: rotateY(-170deg);
}

.cv-leaflet.cv-in .cv-right {
	-webkit-transform: rotateY(170deg);
	transform: rotateY(170deg);
}

.cv-leaflet.cv-in .cv-page {
	-webkit-transform: translateZ(-500px);
	transform: translateZ(-500px);
}

.cv-leaflet.cv-in .cv-cover, 
.cv-leaflet.cv-in .cv-right,
.cv-leaflet.cv-nodelay .cv-right {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.cv-leaflet.cv-in +  .cv-modal {
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
	opacity: 1;
	pointer-events: auto;
}

/* Fallback (similar to last media query) */

.no-csstransforms3d .cv-leaflet {
	width: 100%;
	height: auto;
	max-width: 460px;
}
.no-csstransforms3d .cv-page, 
.no-csstransforms3d .cv-page > div,
.no-csstransforms3d .cv-page > div > div {
	position: relative;
	width: 100%;
	height: auto;
}

.no-csstransforms3d .cv-page > div > div{
	margin-bottom: 10px;
	box-shadow: 
		inset 0 0 0 16px #fff, 
		inset 0 0 0 17px #e6b741, 
		inset 0 0 0 18px #fff, 
		inset 0 0 0 19px #e6b741, 
		inset 0 0 0 20px #fff, 
		inset 0 0 0 21px #e6b741,
		0 3px 5px rgba(0,0,0,0.2);
}

.no-csstransforms3d .cv-leaflet .cv-back {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.no-csstransforms3d .cv-overlay, 
.no-csstransforms3d .cv-middle .cv-overlay {
	display: none;
}

.no-csstransforms3d .cv-right .cv-front {
	display: none;
}

.no-csstransforms3d .cv-button-open {
	pointer-events: none;
}

.no-csstransforms3d .cv-button-open:after {
	content: '\2193';
}

.no-csstransforms3d .cv-modal {
	position: fixed;
	width: 80%;
	top: 50%;
	left: 50%;
	margin: 0 0 0 -40%;
	-webkit-transition: opacity 0.6s ease-in-out 0s;
	transition: opacity 0.6s ease-in-out 0s;
}

.no-csstransforms3d .cv-leaflet.cv-in .cv-cover,
.no-csstransforms3d .cv-leaflet.cv-in .cv-right,
.no-csstransforms3d .cv-leaflet.cv-in .cv-page {
	-webkit-transform: rotateY(0deg);
	-webkit-transition-delay: 0s;
	transform: rotateY(0deg);
	transition-delay: 0s;
}

.cv-logo {
	width: 100px;
	height: 100px;
	background: #977676 url(/assets/me.jpg) no-repeat center center;
	border-radius: 50%;
	margin: 20px auto;
	box-shadow: 
		0 0 0 3px #fff, 
		0 0 0 4px #e6b741, 
		0 0 0 5px #fff, 
		0 0 0 6px #e6b741, 
		0 0 0 7px #fff, 
		0 0 0 8px #e6b741;
}

.alert {
  width: 50%;
  background-color: rgb(248, 215, 218);
  border-bottom-color: rgb(245, 198, 203);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(245, 198, 203);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(245, 198, 203);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(245, 198, 203);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(114, 28, 36);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: auto;
  margin-bottom: 16px;
  margin-top: 8px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  left: 25%;
  top: 5px;
  position: absolute;
  margin: auto;
  z-index: 500;
}

.buzcol {
  float: left;
  width: 49%;
}

.buzrow {
  vertical-align: middle;
}

.buzrow:after {
  content: "";
  display: table;
  clear: both;
}

.buzicon {
  position: absolute;
  top: 40%;
}

/* Media Queries */
@media screen and (max-width: 1110px) {
	.cv-leaflet {
		height: 800px;
	}
}

@media screen and (orientation:portrait) {
  * {
    overflow-anchor: auto;
  }
  .activity {
    overflow-anchor: auto;
  }

  .opensource {
    overflow-anchor: auto;
  }

  body {
    overflow-y: auto;
    overflow-anchor: auto;
  }
  div.prev-next {
    display: none;
  }
	.cv-leaflet {
		width: 100%;
		height: auto;
		max-width: 460px;
		-webkit-perspective: 0px;
		perspective: 0px;
	}
	.cv-page, 
	.cv-page > div,
	.cv-page > div > div {
		position: relative;
		width: 100%;
		height: auto;
	}

	.cv-page > div > div{
		margin-bottom: 10px;
		box-shadow: 
			inset 0 0 0 16px #fff, 
			inset 0 0 0 17px #e6b741, 
			inset 0 0 0 18px #fff, 
			inset 0 0 0 19px #e6b741, 
			inset 0 0 0 20px #fff, 
			inset 0 0 0 21px #e6b741,
			0 3px 5px rgba(0,0,0,0.2);
	}

	.cv-leaflet .cv-back,
	.cv-leaflet.cv-open .cv-cover,
	.cv-leaflet.cv-open .cv-right {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}

	.cv-overlay, .cv-middle .cv-overlay {
		background: transparent;
	}

	/*.cv-right .cv-front,*/
	.cv-close {
		display: none;
	}
  /*.cv-right .cv- {

  }*/

	.cv-button-open {
		pointer-events: none;
	}

	.cv-button-open:after {
		content: '\2193';
	}

	.cv-leaflet .cv-modal {
		position: fixed;
		width: 80%;
		top: 50%;
		left: 50%;
		margin: 0 0 0 -40%;
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		-webkit-transition: opacity 0.6s ease-in-out 0s;
		transition: opacity 0.6s ease-in-out 0s;
	}

}

@media screen and (max-width: 960px) {
  * {
    overflow-anchor: auto;
  }
  .activity {
    overflow-anchor: auto;
  }

  .opensource {
    overflow-anchor: auto;
  }

  body {
    overflow-y: auto;
    overflow-anchor: auto;
  }
  div.prev-next {
    display: none;
  }
	.cv-leaflet {
		width: 100%;
		height: auto;
		max-width: 460px;
		-webkit-perspective: 0px;
		perspective: 0px;
	}
	.cv-page, 
	.cv-page > div,
	.cv-page > div > div {
		position: relative;
		width: 100%;
		height: auto;
	}

	.cv-page > div > div{
		margin-bottom: 10px;
		box-shadow: 
			inset 0 0 0 16px #fff, 
			inset 0 0 0 17px #e6b741, 
			inset 0 0 0 18px #fff, 
			inset 0 0 0 19px #e6b741, 
			inset 0 0 0 20px #fff, 
			inset 0 0 0 21px #e6b741,
			0 3px 5px rgba(0,0,0,0.2);
	}

	.cv-leaflet .cv-back,
	.cv-leaflet.cv-open .cv-cover,
	.cv-leaflet.cv-open .cv-right {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}

	.cv-overlay, .cv-middle .cv-overlay {
		background: transparent;
	}

	/*.cv-right .cv-front,*/
	.cv-close {
		display: none;
	}
  /*.cv-right .cv- {

  }*/

	.cv-button-open {
		pointer-events: none;
	}

	.cv-button-open:after {
		content: '\2193';
	}

	.cv-leaflet .cv-modal {
		position: fixed;
		width: 80%;
		top: 50%;
		left: 50%;
		margin: 0 0 0 -40%;
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		-webkit-transition: opacity 0.6s ease-in-out 0s;
		transition: opacity 0.6s ease-in-out 0s;
	}

/*	.cv-leaflet.cv-in .cv-cover,
	.cv-leaflet.cv-in .cv-right,
	.cv-leaflet.cv-in .cv-page {
		-webkit-transform: rotateY(0deg);
		-webkit-transition-delay: 0s;
		transform: rotateY(0deg);
		transition-delay: 0s;
	} */
}

