* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 13px;
    background: #fff url(/assets/background.jpg);
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 300;
}

.container {
    width: 100%;
    position: relative;
}

.cv-leaflet {
	width: 33%;
	height: 700px;
	max-width: 370px;
	margin: 0 auto 40px auto;
	position: relative;
	-webkit-perspective: 1600px;
	perspective: 1600px;
	color: #2a323f;
}

.cv-page {
  background: #fff url(/assets/paper.jpg);
  background-origin: border-box;
}

.cv-page .cv-cover {
	z-index: 100;
	-webkit-transform-origin: 0% 50%;
	-webkit-transition-delay: 0.2s;
	transform-origin: 0% 50%;
	transition-delay: 0.2s;
}

.cv-cover, .cv-right {
  cursor: grab;
}

@media screen and (max-width: 1110px) {
	.cv-leaflet {
		height: 800px;
	}
}

@media screen and (max-width: 960px) {
	.cv-leaflet {
		width: 100%;
		height: auto;
		max-width: 460px;
		-webkit-perspective: 0px;
		perspective: 0px;
	}
}
